.counter-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-page button{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
}