.accordion-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.accordion-item-title{
    width: 100%;
    background-color: aqua;
    border: 1px solid gray;
    border-radius: 0.3rem;
    overflow: hidden;
}

.accordion-item-title button{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: left;
    padding: 0.8rem;
}

.accordion-item-desc{
    background-color: rgba(242, 223, 189, 0.5);
    border-radius: 0 0 0.8rem 0.8rem;
    text-align: left;
    padding: 0.8rem;
    font-size: 1rem;
    font-style: italic;
}