nav{
    background-color: rgba(165, 42, 42, 0.6);
    border-bottom: 0.3px solid gray;
    padding: 1rem;
    
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-right{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}