.main-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

main{
    flex: 1;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
}